 .u-section-1 {
  min-height: 1438px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1438px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 60px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-5 {
  border-style: none none solid;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1438px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 26px 30px;
}

.u-section-1 .u-text-6 {
  margin: 73px 133px 0 57px;
}

.u-section-1 .u-text-7 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-9 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-10 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-11 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-19 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-20 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-21 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-22 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-23 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-24 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-25 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-26 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-27 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-28 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-29 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-30 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-31 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-32 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-33 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-34 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-35 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-36 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-37 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-38 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-39 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-40 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-41 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-42 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-43 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-44 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-45 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-46 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-47 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-48 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-49 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-50 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-51 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-52 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-53 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-54 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-55 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-56 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-57 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-58 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-59 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-60 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-61 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-62 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-63 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-64 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-65 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-66 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-67 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-68 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-69 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-70 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-71 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-72 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-73 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1314px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1186px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1186px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 40px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 834px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 934px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}